.headSpace
  %ul
    %li.logo
      %a{:href => "general"}
        = image_tag "logo.svg"
    %li.order
      %a{:href => "calculate"} Заказать уборку
    %li.personal
      %b Все услуги оказывают славяне.
      %br
      %b Все работы застрахованы.
    %li.phone
      %span 
        %b +7 (800) 500-71-42
      %hr
      %span 
        %b +7 (499) 322-39-34 
      %br 
        %b Работаем с 08 до 24 ч.
