.mainMenuSpace
  %ul
    %li.calculate
      %a{:href => "calculate"} Рассчитать
    %li.service.active
      %a{:href => "promotion"} Акции и Скидки
    %li.about
      %a{:href => "contacts"} О компании