.mainMenuSpace
  %ul
    %li.calculate
      %a{:href => "calculate"} Рассчитать
    %li.service
      %a{:href => "promotion"} Акции и Скидки
    %li.about.active
      %a{:href => "contacts"} О компании