.bottomSpace
  %ul
    %li
      %strong Уборка квартир
      %a{:href => "/calculate#content__calculate__calculate__1__col1"} Уборка квартир в Москве
      %a{:href => "/calculate#content__calculate__calculate__1__col2"} Генеральная уборка
      %a{:href => "/calculate#content__calculate__calculate__1__col3"} Уборка после ремонта
    %li
      %strong О компании
      %a{:href => "/contacts"} Работа
      %a{:href => "/calculate#content__calculate__calculate__1__p5"} Кто приедет убирать
      %a{:href => "/#"} Пользовательское соглашения
    %li
      %strong Адрес и время работы:
      %p
        Работаем с 8:00 до 24:00
        %br/
        ежедневно и без выходных.
      %p.address
        Москва,
        %br>/
        Ул. Миклухо-Маклая 36, к1
    %li
      %strong Телефон:
      %p.phone
        %b +7 (800) 500-71-42
      %p.phone
        %b +7 (499) 322-39-34
    .copyright
      @CMS-all, Все права защищены. По техническим вопросам просьба писать администратору сайта admin@bjic.ru
    .arrowUpSpace
      %a.arrowUp{:href => "#"}
      #forAjaxSpace