%nav.navbar.navbar-default.navbar-static-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#main-nav", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to "Bjic Admin", admin_pages_path, class: "navbar-brand"
    / Collect the nav links, forms, and other content for toggling
    #main-nav.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          =link_to "Content", admin_pages_path
        %li
          =link_to "Employe", admin_employes_path
        / %li
        /   =link_to "Orders", admin_orders_path
        / %li
        /   =link_to "General service", admin_generals_path
        / %li
        /   =link_to "Additional service", admin_additionals_path
        / %li
        /   =link_to "Product", admin_products_path


      / -if user_signed_in?
      /   %ul.nav.navbar-nav.navbar-right
      /     %p.navbar-text
      /       Signed in as #{current_user.name}.
      /       =link_to "Log out.", destroy_user_session_path, method: :delete

